{% extends 'base.html' %}{% block content %}

<form action="" method="POST">
  {% csrf_token %} {{form.media}}
  <div class="form-group">
    <legend class="border-primary mb-4">Delete Question</legend>
    <h2>Are you sure you want to delete your question {{ object.title }}</h2>
    <input class="btn btn-danger" type="submit" value = "Yes, Delete"></input>
    <a class="btn btn-secondary" href="{% url 'question_detail' object.id %}">
      Cancel
    </a>
  </div>
</form>

{% endblock content %}
